<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TODO-APP</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->
<link rel="stylesheet" href="styles.66714cbc5ce0a0b617b1.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.a4dadbc03350107420a4.js" type="module"></script><script src="runtime-es5.a4dadbc03350107420a4.js" nomodule defer></script><script src="polyfills-es5.447231e194b9f03c64f5.js" nomodule defer></script><script src="polyfills-es2015.1ca0a42e128600892efa.js" type="module"></script><script src="main-es2015.1b0e1645f16922118d03.js" type="module"></script><script src="main-es5.1b0e1645f16922118d03.js" nomodule defer></script></body>
</html>
